.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  gap: 10px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 1rem;
  /* font-size: 18px; */
}

button {
  font-size: 1rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(40, 38, 37);
  color: #ffffff;
  cursor: pointer;
}

/* Testing */

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    border-radius: 5px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: .25em solid rgb(117, 201, 250);
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #ffffff;
    position: relative;
    /* padding-left: 50%; */
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  input {
    width: 90%;
  }

}